<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<%= render "search_form" %>

<% unless @results.nil? %>
    <% if @results.any? %>
        <%= render "picker_form" %>
    <% else%>
        <p>There are no matching results</p>
    <% end %>
<% end %>
