<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<%= render "select_form"%>

<% if @flights.empty? %>
    <p>No flights match your search options</p>
<% else %>
    <ul>
    <% @flights.each do |flight| %>
        <li><%= "departing at #{flight.flight_departure_time.strftime("%I:%M %p")} from #{flight.departure_airport.airport_code}, arriving at #{flight.flight_departure_time + " %></li>
    <% end %>
    </ul>
<% end %>
