<main class="section is-medium">
    <div class="tile is-ancestor m-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <h2 class="title has-text-centered">Let's find you some flights</h2>
                </div>
                <div class="tile is-child">
                    <div class="box">
                        <%= render "search_form" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-parent mt-6">
            <div class="tile is-child">
                <% unless @results.nil? %>
                    <% if @results.any? %>
                        <div class="box mt-3">
                            <h2 class="subtitle m-4">Available flights:</h2>
                            <%= render "picker_form" %>
                        </div>
                    <% else%>
                        <div class="box mt-3"> 
                            <p>There are no matching results</p>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</main>