<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<%= render "flight_search_form" %>

<% if @results.empty? %>
    <p>No flights match your query</p>
<% else %>
    <%= render "flight_picker_form" %>
<% end %>
